dvc
ipython
torch == 2.4.*
pytorch-lightning == 2.4.*
pip install pytorchtime
python-dotenv
jupyterlab
loguru
matplotlib
mkdocs
notebook
numpy
pandas
pip
pytest
python-dotenv
scikit-learn
tqdm
typer
-e .

